.fondo{
    --background: #37784E;
    --color: white;
    .avatar{
        margin-left: 2vh; 
        width: 32px;
        cursor: pointer;
    }
}
ion-card{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 3vh;
    ion-button{
        width: 30vh;
    }
    .scanner{
        width: 40vh;
    }
}