.fondo{
    --background: #37784E;
    --color: white;
    .avatar{
        margin-left: 2vh; 
        width: 32px;
        cursor: pointer;
    }
}
/* ion-card{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 3vh;
    ion-button{
        width: 30vh;
    }
    .scanner{
        width: 40vh;
    }
} */
ion-content{--background:transparent};

.container {
    display: flex;
    }
    .relative {
    position: relative;
    z-index: 1;
    }
    .square {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    }
    .square:after {
    content: '';
    top: 0;
    display: block;
    padding-bottom: 100%;
    }
    .square > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }
    .surround-cover {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
    }
    .barcode-scanner--area--container {
    width: 80%;
    max-width: min(500px, 80vh);
    margin: auto;
    }
    .barcode-scanner--area--outer {
    display: flex;
    border-radius: 1em;
    }
    .barcode-scanner--area--inner {
    width: 100%;
    margin: 1rem;
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 0.5),
     inset 0px 0px 2px 1px rgb(0 0 0 / 0.5);
    border-radius: 1rem;
    }