<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="primary">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{recipt.recipe.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{recipt.recipe.label}}
      </ion-card-title>
      <p>Calories: {{recipt.recipe.calories}}.</p>
      <p>Ingredients:</p>
      <div *ngFor="let ingredient of recipt.recipe.ingredients">
        <p> {{ingredient.text}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
