.fondo{
    --background: #37784E;
    --color: white;
    .avatar{
        margin-left: 2vh; 
        width: 32px;
        cursor: pointer;
    }
}
ion-card-header{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    ion-card-subtitle {
        cursor: pointer
    }
}